.ridiv {
    background-color: aquamarine;
    height: 25em;
    width: 500px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 0px;
    align-items: center;
}

.didivri {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
}

.divo {
    background-color: white;
    width: 80em;
    height: 200px;
    left: 40px;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: end;
}

.end1 {
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    top: 40px;
    position: relative;
}

.end2 {
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    top: 40px;
    position: relative;
    left: 10px;
}

.end3 {
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    top: 40px;
    position: relative;
    left: 20px;
}

.orabo {
    background-color: orange;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.divmi {
    background-color: violet;
    width: 100px;
    height: 100px;
    position: relative;
    top: 130px;
    left: 420px;
}