.highestdiv {
    background-color: #b80419;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
}

.lidi {
    width: 80%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline;
    color: white;
    padding-inline: 40px;
}

.divupperright {
    position: absolute;
    top: 15px;
    right: 20px;
    color: white;
}